{
  "env": {
    "browser": true,
    "jquery": true,
    "es6": true,
    "jasmine": true,
    "jest": true
  },
  "extends": "airbnb",
  "rules": {
    "import/no-extraneous-dependencies": "off",
    "indent": ["off", 4],
    "max-len": 0,
    "no-alert": "off",
    "no-console": "off",
    "react/jsx-filename-extension": "off",
    "react/jsx-indent": [1, 4],
    "react/jsx-indent-props": [1, 4],
    "react/prop-types": ["off"],
    "object-curly-newline": [2, { "consistent": true }],
    "jsx-a11y/anchor-is-valid": [ "error", {"specialLink": ["to"]}],
    "jsx-a11y/label-has-for": [ 2, {
      "components": [],
      "required": {
        "some": [ "nesting", "id" ]
      },
      "allowChildren": true
    }],
    "no-plusplus": "off"
  },
  "globals": {
    "jest": true,
    "YouniqueFacebook": true
  }
}
