/** Forms **/
label {
  font-size: 75%;
}

.ti,
.react-autosuggest__input,
select:not([multiple]) {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 0 0 transparent;
  @include all-tran;
  box-sizing: border-box;

  &:focus {
    &,
    & + #photoDrop {
      outline-color: transparent;
      outline-style: none;
      box-shadow: inset 0px -.12em 0px $form-input-color;
      border-color: $form-input-color;
    }
  }

  option {
    background: #fff;
    padding: .3em;
  }
}

.ti,
.react-autosuggest__input {
  width: 100%;
  padding: .438em 0;
  text-indent: .5em;

  &.auto-w {
    width: auto;
  }

  &.qty {
    width: 4.5em;
    float: none; //remove if this becomes standard as it is an override for ccCode above.
  }
}

select:not([multiple]) {
  border-color: #e3e3e3;
  height: 2.125em;
  padding: 0 2.2em 0 .25em;
  @include arrowBg($form-input-color);
  cursor: pointer;
  min-width: 4.5em;

  &::-ms-expand {
    display: none;
  }

  &.purple {
    @include arrowBg(purple);
  }

  &.disabled {
    @include arrowBg(#e3e3e3);
    cursor: default;
  }

  &:focus {
    border-color: $form-input-color;
  }
}

.mealPicker {
  max-width: 30em;
  text-transform: capitalize;
  position: relative;
}

.react-autosuggest__input {
  text-transform: capitalize;
}

.clearAutosuggestions {
  position: absolute;
  right: 0;
  top: 1px;
  background: transparent;
  border: 0;
  color: #777;
  font-size: 1.5em;
}

.clearAutosuggestions:focus {
  outline: none;
}

.react-autosuggest__suggestions-container ul {
  margin: .5em 0;
  padding: 0;
  height: 15.5em;
  overflow-y: auto;
  text-align: left;
}

.react-autosuggest__suggestions-container ul li {
  padding: .25em .5em;
  border-bottom: 1px dotted rgba(255, 255, 255, .1);
}

.react-autosuggest__suggestions-container--open {
  background: #4a4a4a;
  border-radius: 3px;
}

.react-autosuggest__suggestions-list {
  list-style: none;
}

.react-autosuggest__suggestion {
  cursor: pointer;
}

.dayOptions {
  margin: .5em;
  padding: 0 .5em;
  background: #ffffff;
  height: 14em;
  border: 1px solid #fff;
  border-radius: 3px;
  font-size: 85%;
}

.dayHeading {
  margin: 0 -.5em;
  background: #777;
  padding: .5em;
  border-radius: 3px;
}

.meal {
  font-size: 75%;
}

.mealType {
  color: #aaa;
}

.mealPlan {
  border-bottom: 1px dotted #ccc;
  line-height: 1.35em;
  padding: .5em 0;
  color: #333;
}

.mealPlaceHolder {
  color: transparent;
}

.mealPlan:last-child {
  border-bottom: 0;
}