/* small mq */
@media (max-width: 480px) {
	.col-wrap.m-1col > .col {
		width: 100%;
	}

	.col-wrap.m-2col > .col {
		width: 50%;
	}

	.col-wrap.m-3col > .col {
		width: 33.3333%;
	}

	.col-wrap.m-4col > .col {
		width: 25%;
	}

	.col-wrap.mw-20 > .col,
	.mw-20:not(.col-wrap) {
		width: 20%;
	}

	.col-wrap.mw-30 > .col,
	.mw-30:not(.col-wrap) {
		width: 30%;
	}

	.col-wrap.mw-40 > .col,
	.mw-40:not(.col-wrap) {
		width: 40%;
	}

	.col-wrap.mw-50 > .col,
	.mw-50:not(.col-wrap) {
		width: 50%;
	}

	.col-wrap.mw-60 > .col,
	.mw-60:not(.col-wrap) {
		width: 60%;
	}

	.col-wrap.mw-70 > .col,
	.mw-70:not(.col-wrap) {
		width: 70%;
	}

	.col-wrap.mw-80 > .col,
	.mw-80:not(.col-wrap) {
		width: 80%;
	}

	.col-wrap.mw-100 > .col,
	.mw-100:not(.col-wrap) {
		width: 100%;
	}
}
/* end small mq */