/** Core Structure Styles **/
.clr-fix:before,
.clr-fix:after {
  content: ".";
  display: block;
  height: 0;
  overflow: hidden;
}

.clr-fix:after {
    clear: both;
}

.clr-fix {
    zoom: 1; /* IE < 8 */
}

/* floats */
.f-left {
	float: left;
}

.f-right {
	float: right;
}
/* end floats */