/** App Styles **/
@import 'normalize.css';
@import './base';
@import './global/columns';
@import './global/mq_columns_md';
@import './global/mq_columns_sm';
@import './global/forms';

body {
  font-family: arial, 'sans-serif';
  background: $site-bg;
  color: $primary-color;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}

.cursorPointer {
  cursor: pointer;
}

.block {
  display: block;
}

.mlr-auto {
  margin-right: auto;
  margin-left: auto;
}

.mTB1 {
  margin-top: 1em;
  margin-bottom: 1em;
}