@import 'normalize.css';

$primary-color: white;

body {
  font-family: arial, 'sans-serif';
  background: #333;
  color: $primary-color;
  text-align: center;
}

a {
  color: $primary-color;
}

a:hover {
  color: pink;
}