/** App Styles **/
@import 'normalize.css';

$site-bg: #333;
$primary-color: #dedede;
$link-color: pink;
$link-hover-color: #fff;

body {
  font-family: arial, 'sans-serif';
  background: $site-bg;
  color: $primary-color;
  text-align: center;
  margin: 0;
  padding: 0;
  font-family: Helvetica, arial, sans-serif;
  line-height: 1.5em;
}

a {
  color: $link-color;
}

a:hover {
  color: $link-hover-color;
}